@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    background: #E1D4C9;
}
.body-not-scroll {
    overflow: hidden;
}
body._lock {
    overflow: hidden;
}
.hidden {
    display: none !important;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 40px;
}
 /* Navigation block */

.navigation {
    margin-bottom: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.logo {
    z-index: 5;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links-ul {
    display: flex;
    gap: 30px;
}
.nav-li {
    position: relative;
    display: inline-block;
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}




.nav-li:before,
.nav-li:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    transition: width 0.5s ease;
}

.nav-li:before {
    left: 50%;
    background-color: #403F3D;
    transform-origin: 100% 50%;
}

.nav-li:after {
    right: 50%;
    background-color: #403F3D;
    transform-origin: 0 50%;
}

.nav-li:hover:before,
.nav-li:hover:after {
    width: 50%;
}
.nav-li-a {
    color: #403F3D;
}


.nav-li-last:before {
    left: 50%;
    background-color: #403F3D;
    transform-origin: 100% 50%;
}

.nav-li-last:after {
    right: 50%;
    background-color: #403F3D;
    transform-origin: 0 50%;
}

.nav-li-last:hover:before,
.nav-li-last:hover:after {
    width: 50%;
}


.menu {
    display: flex;
    align-items: center;
    position: relative;
}



.menu-nav-a {
    position: relative;
    display: relative;
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-right: 8px ;
}

.menu:before,
.menu:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 13px;
    transition: width 0.5s ease;
    background-color: #403F3D;
}





/*  Menu page coffee block */




.menu-page-block {
    margin-bottom: 100px;
}
.menu-page-block-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.menu-page-title {
    text-align: center;
    max-width: 800px;
    margin-bottom: 40px;
}

.menu-page-h1 {
color: #403F3D;
text-align: center;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.menu-page-span {
color: #B0907A;
font-family: Inter;
font-size: 60px;
font-style: italic;
font-weight: 600;
line-height: 125%;
}
.menu-page-links {
    display: flex;
}
.menu-page-ul {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.menu-page-a {
display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 100px;
border: 1px solid #C1B6AD;
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
cursor: pointer;
}
.menu-active {
    background: #665F55;
    color: #E1D4C9;
}

.menu-page-a:hover {
    background: #665F55;
    color: #E1D4C9;
}

.menu-page-li-a-img {
display: flex;
padding: 3px 7px;
justify-content: center;
align-items: center;
border-radius: 100px;
background:#C1B6AD;
}
.menu-page-full-assortiment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.menu-page-images {
display: flex;
flex-direction: column;
max-width: 310px;
border: solid 1px #B0907A;
border-radius: 20px;
cursor: pointer;
position: relative;
overflow: hidden;
}
.menu-page-images-img {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.menu-page-img {
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-out;
    transform: scale(1.1);
}
.menu-page-img:hover {
    transform: scale(1);
}
.menu-page-description-coffee {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 20px;
    justify-content: space-between;
}
.menu-page-h4 {
color: #403F3D;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.menu-page-p {
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.menu-page-h3-price {
color:#403F3D;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.refresh-assoriment {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.refresh-img {
    border-radius: 100px;
}

/* footer */

.footer {
    margin-bottom: 40px;
}
.footer-block {
    display: flex;
    background-color: #665F55;
    align-items: center;
    border-radius: 40px;
    gap: 100px;
    height: 430px;
}
.footer-coffee-time {
    width: 530px;
    height: 250px;
    margin-left: 100px;
}
.h1-footer-coffee-time {
color: #E1D4C9;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 125%;
margin-bottom: 40px;
}
.span-footer-coffee-time {
    color: #B0907A;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}
.footer-social-network {
    display: flex;
    gap: 12px;
    height: 60px;
}

.a-icon-footer-social {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}
.a-icon-footer-social:hover {
    background-color: #E1D4C9;
    color: #000;
}
.icon-footer-social-network {
    width: 24px;
    height: 24px;
    transition: color 0.5s ease;
}
.a-icon-footer-social:hover .icon-footer-social-network {
    filter: invert(1);
    color: #000;
}

.footer-contact-us {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-contact-us-title {
color: #E1D4C9;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.footer-contact-us-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ul-footer-contact-us-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.li-footer-contact-us-info {
display: flex;
justify-items: center;
color: #E1D4C9;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
gap: 8px;
align-items: center;
}

.a-footer-contact-us-info::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #E1D4C9;
    transition: width 0.3s ease;
    transform: translateX(-50%);
    gap: 4px;
}

.a-footer-contact-us-info:hover::before {
    width: 100%;
}


.a-footer-contact-us-info {
    color: #E1D4C9;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
position: relative;
cursor: pointer;
display: flex;
gap: 8px;
}
.a-footer-contact-us-info-text {
    color: #E1D4C9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 8px;
}


/*  BURGER MENU */

.burger-icon {
    display: none;
    cursor: pointer;
}
.burger-menu {
    display: none;
}

/* MODAL WINDOW */

.modal-container {
    z-index: 12;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: all 0.9s ease;
}

.modal-content {
    background-color: #E1D4C9;
    display: flex;
    max-width:800px;
    padding: 16px;
    gap: 20px;
    border-radius: 40px;
    margin: 0 40px;
}

.modal-images img {
    border-radius: 40px;
}
.modal-info-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 458px;
}

.modal-info-product-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.module-title {
color:#403F3D;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;

}
.module-paragraph {
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.title-size {
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.module-size {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.module-size-buttons {
    display: flex;
    flex-wrap: wrap;
}
.module-size-a {
display: flex;
padding: 8px 16px 8px 8px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 100px;
background: #E1D4C9;
border: 1px solid #C1B6AD;
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
cursor: pointer;
}
.module-size-a-span {
border-radius: 100px;
background:  #C1B6AD;
display: flex;
padding: 3px 9px 3px 10px;
justify-content: center;
align-items: center;
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}

.module-size-buttons {
    display: flex;
    gap: 8px;
}
.active-buttons-modal {
    background-color: #665F55;
    color: #E1D4C9;
}
.active-span-modal {
    background-color: #E1D4C9;
}


.total-container {
    display: flex;
    justify-content: space-between;
}

.module-total {
    color: #403F3D;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.count-module-total {
color: #403F3D;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.modal-total-span {
    display: block;
    position: relative;
}
.modal-total-span::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #C1B6AD;
}
.module-disclaimer-content {
    display: flex;
    margin: 12px 0;
    gap: 8px;
}
.module-disclaimer-img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.module-total-paragraph {
color:#403F3D;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}

.button-modal-close {
display: flex;
padding: 10px 78px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 100px;
border: 1px solid #665F55;
color:#403F3D;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
cursor: pointer;
}

.button-modal-close:hover {
    background-color: #665F55;
    color: #E1D4C9;
}





/* MEDIA */

@media screen and (max-width: 980px) {
    .h1-footer-coffee-time, .span-footer-coffee-time {
        font-size: 40px;
    }
    .footer-coffee-time {
        width: 440px;
        height: 200px;
        margin-left: 100px;
    }
    .footer-contact-us-title {
        font-size: 16px;
        line-height: 100%;
    }
    .footer-contact-us {
        width: 440px;
        height: 230px;
    }
    .li-footer-contact-us-info {
        font-size: 12px;
        line-height: 125%;
    }
    .a-footer-contact-us-info {
        font-size: 12px;
        line-height: 125%;
    }
    .menu-page-h1, .menu-page-span {
        font-size: 60px;
    }
}


@media screen and (max-width: 768px) {
    .burger-icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 44px;
        height: 44px;
        cursor: pointer;
        border: 1px solid #665F55;
        border-radius: 50%;
        top: 5px;
    }
    .burger-icon span,
    .burger-icon::before {
        left: 0;
        position: absolute;
        height: 5%;
        width: 50%;
        transition: all 0.3 ease 0s;
        background-color: #403F3D;
    }
    .burger-icon::before,
    .burger-icon::after {
        content: '';
    }
    .burger-icon::before {
        top: 15px;
        left: 10px;
    }
    .burger-icon span {
        bottom: 15px;
        left: 10px;
    }
    .burger-icon._active span {
        top: 50%;
        transform: rotate(-45deg);
    }
    .burger-icon._active::before {
        top: 50%;
        transform: rotate(45deg);
    }

    .nav-links {
        display: none;
    }
    .menu {
        display: none;
    }
    .nav::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
    }

    .burger-menu {
        transform: translate(100%, 0px);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E1D4C9;
        transition: transform 0.3s ease;
        overflow: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 100px;
        z-index: 1;
    }
    .burger-menu._active {
        transform: translate(0px, 0px);
    }
    .nav-links-burger {
        display: flex;
    }
    .nav-links-ul-burger {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .nav-li-a-burger {
        color: #403F3D;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }
    .menu-nav-a-burger {
        color: #403F3D;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }
    .footer-block {
        flex-direction: column;
        height: 100%;
        padding: 100px 0;
    }
    .footer-coffee-time {
        max-width: 568px;
        height: 100%;
        margin: 0;
    }
    .h1-footer-coffee-time, .span-footer-coffee-time {
        font-size: 60px;
    }
    .footer-contact-us {
        max-width: 568px;
        height: 100%;
    }
    .footer-contact-us-title {
        font-size: 24px;
        line-height: 125%;
    }
    .li-footer-contact-us-info {
        font-size: 16px;
        line-height: 150%;
    }
    .a-footer-contact-us-info {
        font-size: 16px;
        line-height: 150%;
    }

    @media screen and (max-width: 600px) {
        .buttons-mobile-app-download {
            flex-direction: column;
        }
        .footer-coffee-time {
            width: 316px;
        }
        .footer-contact-us {
            width: 316px;
        }
    }

    @media screen and (max-width: 460px) {
        .container {
            padding: 0 16px;
        }
    }
    @media screen and (max-width: 380px) {
        .menu-page-ul {
            gap: 8px;
        }
    }
}


/* Window Modal Media */
@media screen and (max-width: 768px) {
    .modal-content {
        max-width: 688px;
    }
}


@media screen and (max-width: 700px) {
    .modal-images {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .modal-content {
        max-width: 342px;
    }
}