@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    background: #E1D4C9;
}
body._lock {
    overflow: hidden;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 40px;
}
 /* Navigation block */

.navigation {
    margin-bottom: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.logo {
    z-index: 5;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links-ul {
    display: flex;
    gap: 30px;
}
.nav-li {
    position: relative;
    display: inline-block;
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}




.nav-li:before,
.nav-li:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    transition: width 0.5s ease;
}

.nav-li:before {
    left: 50%;
    background-color: #403F3D;
    transform-origin: 100% 50%;
}

.nav-li:after {
    right: 50%;
    background-color: #403F3D;
    transform-origin: 0 50%;
}

.nav-li:hover:before,
.nav-li:hover:after {
    width: 50%;
}
.nav-li-a {
    color: #403F3D;
}


.nav-li-last:before {
    left: 50%;
    background-color: #403F3D;
    transform-origin: 100% 50%;
}

.nav-li-last:after {
    right: 50%;
    background-color: #403F3D;
    transform-origin: 0 50%;
}

.nav-li-last:hover:before,
.nav-li-last:hover:after {
    width: 50%;
}


.menu {
    display: flex;
    align-items: center;
    position: relative;
}



.menu-nav-a {
    position: relative;
    display: relative;
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-right: 8px ;
}

.menu:before,
.menu:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 13px;
    transition: width 0.5s ease;
}

.menu:before {
    left: calc(50%);
    background-color: #403F3D;
    transform-origin: 100% 50%;
}

.menu:after {
    right: 50%;
    background-color: #403F3D;
    transform-origin: 0 50%;
}

.menu:hover:before,
.menu:hover:after {
    width: 50%;
}


/* Enjoy block */

.enjoy-main-background {
    background: url(../assets/bgphoto.jpg), lightgray 50% / cover no-repeat;
    margin-bottom: 100px;
    background-position: 100%;
    height: 640px;
    border-radius: 40px;
}

.title-main {
    display: flex;
    max-width: 530px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin:0 0 0 100px;
    padding:100px 0 0 0;
}
.title-main-h1 {
    color: #E1D4C9;
    font-family: Inter;
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    line-height: 105%;
}
.span-title-main-h1 {
    color: #B0907A;
}
.paragraph-main {
    color: #E1D4C9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.menu-button-main {
    position: relative;
    display: flex;
    width: 200px;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: #E1D4C9;
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    overflow: hidden;
}
.menu-button-main::before {
    content: url(../assets/coffee-cup.svg);
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(100%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    overflow: visible;
    transition: padding-left 0.4s ease;
}

.menu-button-main:hover::before {
    opacity: 1;
}

.menu-button-main:hover {
    padding-left: 50px;
    transition: all 0.5s ease;
}

/*  Favourites coffee */


.favourites-coffee {
    height: 800px;
    margin-bottom: 100px;
}

.title-favourites-coffee {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.h1-favourites-coffee {
    color:#403F3D;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.h1-span-favourites-coffee {
    color: #B0907A;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}
.slider-favorites-coffee {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-slider-favourites-coffee {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 480px;
}
.img-favurites-coffee {
    width: 100%;
}
.width-buttons-slider {
    width: 100%;
}
.buttons-arrow-slider:hover {
    background-color: #665F55;
}
.width-buttons-slider:hover {
    filter: invert(1);
    color: #E1D4C9;
}
.name-favourites-coffee {
    color: #403F3D;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.paragraph-favourites-coffee {
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 14px 0;
}
.price-favourites-coffee {
    color: #403F3D;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.buttons-arrow-slider {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-dots {
    text-align: center;
    margin-top: 40px;
}

.dot {
    height: 4px;
    width: 40px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 100px;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:first-child {
    background-color: #403F3D;
}

.dot.active {
    background-color: #717171;
}

/* About block */

.about {
    margin-bottom: 100px;
}
.title-about {
    margin-bottom: 40px;
}
.h1-title-about {
color: #403F3D;
font-family: Inter;
font-size: 60px;
font-style: italic;
font-weight: 600;
line-height: 125%;
}
.span-h1-title-about {
color: #B0907A;
font-family: Inter;
font-size: 60px;
font-style: italic;
font-weight: 600;
line-height: 125%;
}
.photogallery-about {
    display: flex;
    gap: 40px;
}
.photogallery-about-verticale1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.photogallery-about-verticale2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-photo-scale {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.photo-about {
    border-radius: 20px;
    transition: transform 0.5s ease-out;
    width: 100%;
}


.photo-about:hover {
    transform: scale(1.1);
}
.images-width {
    width: 100%;
}

/* MOBILE-APP */

.mobile-app {
    display: flex;
    margin-bottom: 100px;
}
.mobile-app-download {
    display: flex;
}
.mobile-app-download-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-app-download-content-center {
    width: 630px;
    height: 342px;
}
.h1-mobile-app-download-content {
color: #403F3D;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.span-mobile-app-download-content {
color: #B0907A;
font-family: Inter;
font-size: 60px;
font-style: italic;
font-weight: 600;
line-height: 125%;
}
.paragraph-mobile-app-download {
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin: 40px 0;
}
.buttons-mobile-app-download {
    display: flex;
    gap: 20px;
}
.buttons-app-store {
        width: 200px;
        height: 64px;
        gap: 8px;
        justify-content: center;
        display: flex;
        border-radius: 100px;
        border: 1px solid var(--border-dark, #665F55);
        align-items: center;
        transition: background-color 0.9s ease, color 0.9s ease;
}

.buttons-app-store:hover {
    background-color: #665F55;
    color: #E1D4C9;
}

.img-buttons-mobile-app {
    width: 36px;
    height: 36px;
    transition: filter 0.5s ease;
}
.buttons-app-store:hover .img-buttons-mobile-app {
    filter: invert(1);
    color: #E1D4C9;
}

.paragraph-buttons-mobile-app {
color: #403F3D;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 140%;
transition: color 0.5s ease;
}
.buttons-app-store:hover .paragraph-buttons-mobile-app {
    color: #E1D4C9;
}
.h3-buttons-mobile-app {
text-align: center;
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
transition: color 0.5s ease;
}
.buttons-app-store:hover .h3-buttons-mobile-app {
    color: #E1D4C9;
}

.mobile-app-images {
    box-sizing: border-box;
}
.img-mobile-app {
    max-width: 100%;
    height: auto;
}

/* footer */

.footer {
    margin-bottom: 40px;
}
.footer-block {
    display: flex;
    background-color: #665F55;
    align-items: center;
    border-radius: 40px;
    gap: 100px;
    height: 430px;
}
.footer-coffee-time {
    width: 530px;
    height: 250px;
    margin-left: 100px;
}
.h1-footer-coffee-time {
color: #E1D4C9;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 125%;
margin-bottom: 40px;
}
.span-footer-coffee-time {
    color: #B0907A;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}
.footer-social-network {
    display: flex;
    gap: 12px;
    height: 60px;
}

.a-icon-footer-social {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}
.a-icon-footer-social:hover {
    background-color: #E1D4C9;
    color: #000;
}
.icon-footer-social-network {
    width: 24px;
    height: 24px;
    transition: color 0.5s ease;
}
.a-icon-footer-social:hover .icon-footer-social-network {
    filter: invert(1);
    color: #000;
}

.footer-contact-us {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-contact-us-title {
color: #E1D4C9;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.footer-contact-us-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ul-footer-contact-us-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.li-footer-contact-us-info {
display: flex;
justify-items: center;
color: #E1D4C9;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
gap: 8px;
align-items: center;
}

.a-footer-contact-us-info::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #E1D4C9;
    transition: width 0.3s ease;
    transform: translateX(-50%);
    gap: 4px;
}

.a-footer-contact-us-info:hover::before {
    width: 100%;
}


.a-footer-contact-us-info {
    color: #E1D4C9;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
position: relative;
cursor: pointer;
display: flex;
gap: 8px;
}
.a-footer-contact-us-info-text {
    color: #E1D4C9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 8px;
}


/*  BURGER MENU */

.burger-icon {
    display: none;
    cursor: pointer;
}
.burger-menu {
    display: none;
}

/*  MEDIA  */


@media screen and (max-width: 960px) {
    .mobile-app-download-content-center {
        width: 440px;
    }
    .mobile-app-download-content {
        width: 500px;
    }
    .h1-mobile-app-download-content, .span-mobile-app-download-content {
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 95%;
    }
    .buttons-app-store {
        width: 120px;
        height: 54px;
    }

    .img-buttons-mobile-app {
        width: 24px;
        height: 24px;
    }
    .h3-buttons-mobile-app {
    font-size: 12px;
    line-height: 125%;
    }
    .paragraph-buttons-mobile-app {
        font-size: 8px;
        line-height: 100%;
    }
    .title-main-h1, .span-title-main-h1 {
        font-size: 72px;
    }
    .h1-favourites-coffee, .h1-span-favourites-coffee {
        font-size: 60px;
    }
    .h1-title-about, .span-h1-title-about {
        font-size: 60px;
    }
    .h1-mobile-app-download-content, .span-mobile-app-download-content {
        font-size: 50px;
    }
    .h1-footer-coffee-time, .span-footer-coffee-time {
        font-size: 40px;
    }

    .paragraph-main {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .footer-coffee-time {
        width: 440px;
        height: 200px;
        margin-left: 100px;
    }
    .footer-contact-us-title {
        font-size: 16px;
        line-height: 100%;
    }
    .footer-contact-us {
        width: 440px;
        height: 230px;
    }
    .li-footer-contact-us-info {
        font-size: 12px;
        line-height: 125%;
    }
    .a-footer-contact-us-info {
        font-size: 12px;
        line-height: 125%;
    }
}


/* max-width 768 */


@media screen and (max-width: 768px) {
    .burger-icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 44px;
        height: 44px;
        cursor: pointer;
        border: 1px solid #665F55;
        border-radius: 50%;
        top: 5px;
    }
    .burger-icon span,
    .burger-icon::before {
        left: 0;
        position: absolute;
        height: 5%;
        width: 50%;
        transition: all 0.3 ease 0s;
        background-color: #403F3D;
    }
    .burger-icon::before,
    .burger-icon::after {
        content: '';
    }
    .burger-icon::before {
        top: 15px;
        left: 10px;
    }
    .burger-icon span {
        bottom: 15px;
        left: 10px;
    }
    .burger-icon._active span {
        top: 50%;
        transform: rotate(-45deg);
    }
    .burger-icon._active::before {
        top: 50%;
        transform: rotate(45deg);
    }

    .nav-links {
        display: none;
    }
    .menu {
        display: none;
    }
    .nav::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
    }

    .burger-menu {
        transform: translate(100%, 0px);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E1D4C9;
        transition: transform 0.3s ease;
        overflow: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 100px;
        z-index: 1;
    }
    .burger-menu._active {
        transform: translate(0px, 0px);
    }
    .nav-links-burger {
        display: flex;
    }
    .nav-links-ul-burger {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .nav-li-a-burger {
        color: #403F3D;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }
    .menu-nav-a-burger {
        color: #403F3D;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }
    .title-main {
        margin: 0 0 0 60px;
        padding: 100px 0 0 0;
    }
    .h1-favourites-coffee, .h1-span-favourites-coffee {
        font-size: 60px;
    }
    .h1-title-about, .span-h1-title-about {
        font-size: 60px;
    }
    .photogallery-about {
        display: flex;
        flex-direction: column;
    }
    .photo-scale-none {
        display: none;
    }
    .mobile-app-download {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .mobile-app-download-content {
        width: 100%;
    }
    .mobile-app-download-content-center {
        width: 100%;
    }
    .mobile-app-images {
        display: flex;
        justify-content: center;
    }
    .h1-mobile-app-download-content, .span-mobile-app-download-content {
        font-size: 60px;
    }
    .buttons-app-store {
        width: 200px;
        height: 64px;
    }

    .img-buttons-mobile-app {
        width: 36px;
        height: 36px;
    }
    .h3-buttons-mobile-app {
    font-size: 16px;
    line-height: 150%;
    }
    .paragraph-buttons-mobile-app {
        font-size: 10px;
        line-height: 140%;
    }
    .footer-block {
        flex-direction: column;
        height: 100%;
        padding: 100px 0;
    }
    .footer-coffee-time {
        max-width: 568px;
        height: 100%;
        margin: 0;
    }
    .h1-footer-coffee-time, .span-footer-coffee-time {
        font-size: 60px;
    }
    .footer-contact-us {
        max-width: 568px;
        height: 100%;
    }
    .footer-contact-us-title {
        font-size: 24px;
        line-height: 125%;
    }
    .li-footer-contact-us-info {
        font-size: 16px;
        line-height: 150%;
    }
    .a-footer-contact-us-info {
        font-size: 16px;
        line-height: 150%;
    }
}

@media screen and (max-width: 680px) {
    .title-main-h1, .span-title-main-h1 {
        font-size: 42px;
    }
    .h1-favourites-coffee, .h1-span-favourites-coffee {
        font-size: 32px;
    }
    .h1-title-about, .span-h1-title-about {
        font-size: 32px;
    }
    .h1-mobile-app-download-content, .span-mobile-app-download-content {
        font-size: 32px;
    }
    .h1-footer-coffee-time, .span-footer-coffee-time {
        font-size: 32px;
    }
}


@media screen and (max-width: 600px) {
    .buttons-mobile-app-download {
        flex-direction: column;
    }
    .footer-coffee-time {
        width: 316px;
    }
    .footer-contact-us {
        width: 316px;
    }
}

@media screen and (max-width: 460px) {
    .container {
        padding: 0 16px;
    }
}
@media screen and (max-width: 380px) {
    .title-main {
        margin: 0 0 0 16px;
        padding: 60px 0 0 0;
    }
    .enjoy-main-background {
        max-height: 552px;
    }
    .buttons-arrow-slider {
        display: none;
    }
}
