@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    background: #E1D4C9;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}
 /* Navigation block */

.navigation {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}
.nav {
    width: 1360px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links-ul {
    display: flex;
    gap: 30px;
}
.nav-li {
    position: relative;
    display: inline-block;
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}




.nav-li:before,
.nav-li:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    transition: width 0.5s ease;
}

.nav-li:before {
    left: 50%;
    background-color: #403F3D;
    transform-origin: 100% 50%;
}

.nav-li:after {
    right: 50%;
    background-color: #403F3D;
    transform-origin: 0 50%;
}

.nav-li:hover:before,
.nav-li:hover:after {
    width: 50%;
}
.nav-li-a {
    color: #403F3D;
}


.nav-li-last:before {
    left: 50%;
    background-color: #403F3D;
    transform-origin: 100% 50%;
}

.nav-li-last:after {
    right: 50%;
    background-color: #403F3D;
    transform-origin: 0 50%;
}

.nav-li-last:hover:before,
.nav-li-last:hover:after {
    width: 50%;
}


.menu {
    display: flex;
    align-items: center;
    position: relative;
}



.menu-nav-a {
    position: relative;
    display: relative;
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-right: 8px ;
}

.menu:before,
.menu:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 12px;
    background-color: #403F3D;
    transition: width 0.5s ease;
}

/*  Menu page coffee block */


.main-menu {

}

.menu-page-block {
    margin-bottom: 100px;
}
.menu-page-block-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.menu-page-title {
    text-align: center;
    width: 800px;
    margin-bottom: 40px;
}

.menu-page-h1 {
color: #403F3D;
text-align: center;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.menu-page-span {
color: #B0907A;
font-family: Inter;
font-size: 60px;
font-style: italic;
font-weight: 600;
line-height: 125%;
}
.menu-page-links {
    display: flex;
}
.menu-page-ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.menu-page-a {
display: flex;
padding: 8px 16px 8px 8px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 100px;
border: 1px solid #C1B6AD;
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
cursor: pointer;
}
.menu-page-a:nth-child(2) {
    background: #665F55;
    color: #E1D4C9;
}
.menu-page-a:hover {
    background: #665F55;
    color: #E1D4C9;
}

.menu-page-li-a-img {
display: flex;
padding: 3px 7px;
justify-content: center;
align-items: center;
border-radius: 100px;
background:#C1B6AD;
}
.menu-page-full-assortiment {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.menu-page-images {
display: flex;
flex-direction: column;
width: 310px;
border: solid 1px #B0907A;
border-radius: 20px;
cursor: pointer;
position: relative;
overflow: hidden;
}
.menu-page-img {
    height: 340px;
    border-radius: 20px;
    transition: transform 0.5s ease-out;
}
.menu-page-img:hover {
    transform: scale(1.1);
}
.menu-page-description-coffee {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 200px;
    padding: 20px;
    justify-content: space-between;
}
.menu-page-h4 {
color: #403F3D;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.menu-page-p {
color: #403F3D;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.menu-page-h3-price {
color:#403F3D;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}

/* footer */

.footer {
    margin-bottom: 40px;
}
.footer-block {
    display: flex;
    background-color: #665F55;
    align-items: center;
    border-radius: 40px;
    gap: 100px;
    height: 430px;
}
.footer-coffee-time {
    width: 530px;
    height: 250px;
    margin-left: 100px;
}
.h1-footer-coffee-time {
color: #E1D4C9;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 125%;
margin-bottom: 40px;
}
.span-footer-coffee-time {
    color: #B0907A;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}
.footer-social-network {
    display: flex;
    gap: 12px;
    height: 60px;
}

.a-icon-footer-social {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}
.a-icon-footer-social:hover {
    background-color: #E1D4C9;
    color: #000;
}
.icon-footer-social-network {
    width: 24px;
    height: 24px;
    transition: color 0.5s ease;
}
.a-icon-footer-social:hover .icon-footer-social-network {
    filter: invert(1);
    color: #000;
}

.footer-contact-us {
    width: 530px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-contact-us-title {
color: #E1D4C9;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%;
}
.footer-contact-us-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ul-footer-contact-us-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.li-footer-contact-us-info {
display: flex;
justify-items: center;
color: #E1D4C9;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
gap: 8px;
align-items: center;
}

.a-footer-contact-us-info::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #E1D4C9;
    transition: width 0.3s ease;
    transform: translateX(-50%);
    gap: 4px;
}

.a-footer-contact-us-info:hover::before {
    width: 100%;
}


.a-footer-contact-us-info {
    color: #E1D4C9;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
position: relative;
cursor: pointer;
display: flex;
gap: 8px;
}